body, html{
    width:100%;
    height:100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.main {
    width:100%;
    height:100%;
    background: rgb(12,4,148);
    background: linear-gradient(135deg, rgba(12,4,148,1) 0%, rgba(73,73,210,1) 35%, rgba(0,212,255,1) 100%);
}